html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background: #fff;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

button,
a {
    cursor: pointer;
}

button,
input {
    outline: none;
    border: none;
    background: none;
}